
	button{
		background:#CC0C0C;
		color:white;
		border-radius:4px;
		height:30px;
		margin:5px;
		}
	html{
		background:#040400 !important;
	}
	.main{
		width:350px;
		}
		.fondo{
			background-color: #30302E !important;

		}

.tamanio{
	 width: 350px; height: 350px;
}
	.amarillo{
	text-align:center;
	color:white;
	font-size:25px;
	text-shadow:2px 2px 2px #cccccc;
	background:#E3F05F;
	width:350px;
	height:350px;
	line-height:350px;
	}
	.rojo{
	text-align:center;
	color:white;
	font-size:25px;
	text-shadow:2px 2px 2px #cccccc;
	background: #DB204F;
	width:350px;
	height:350px;
	line-height:350px;
	}
	.azul{
	text-align:center;
	color:white;
	font-size:25px;
	text-shadow:2px 2px 2px #cccccc;
	background: #4E42E3;
	width:350px;
	height:350px;
	line-height:350px;
	}
	.espacios{
		padding-top: 25px;
	}